<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>


</br>


<% @tweets.each do |e| %>
<p>
    <div class="tweet-box">
        <%= e.message %>
        <%= ((Time.current - e.tdate)/60).to_i %>分
        <%=link_to '削除', "/tweets/#{e.id}", data: { turbo_method: :delete } %>
        <%=link_to '表示', "/tweets/#{e.id}" %>
        <%=link_to '編集', "/tweets/#{e.id}/edit" %>
        
        </br>
        
        <%=link_to 'Reply', "/" ,class: "action-link"%>
        <%=link_to 'Repost', "/",class: "action-link" %>
        <%=link_to 'Like', "/",class: "action-link" %>
        <%=link_to 'View', "/",class: "action-link" %>
    
        
        
        
    </div>

</p>
<% end %>




